{% extends '_layouts/site' %}

{% block main %}
<div class="subnav">
    <div class="l-container">
        <strong class="subnav__label">Section</strong>
        <nav>
            <ul class="subnav__nav">
                <li><a href="">Item</a></li>
                <li><a class="is-active" href="">Item</a></li>
                <li><a href="">Item</a></li>
                <li><a href="">Item</a></li>
                <li><a href="">Item</a></li>
            </ul>
        </nav>
    </div>
</div>





<header class="banner banner--text-bottom" style="background-image: url('/static/img/temp/banner-5.jpg')">
    <h1 class="banner__heading">Where Hope is Born</h1>
</header>





<section class="l-container l-container--11 banner-overlap">
    <div class="l-container l-container--9">
        <p class="lede"><em>For more than 130 years</em> Gladney has been a pioneer and leading voice for improving the lives of children, adoptive families and birth parents.  With unwavering commitment, through good economic times and bad, we have focused on our mission and made a difference in the lives of birth parents, families and children here and around the world.</p>
    </div>
</section>





<div class="l-container">
    <section class="highlight-grid">
        {# <div class="highlight-grid__bg-1"></div> #}
        <div class="highlight-grid__item highlight-grid__item--mission">
            <h2 class="highlight-grid__title">Gladney Mission</h2>
            <p>Creating Bright Futures through Adoption</p>
        </div>
        <div class="highlight-grid__item highlight-grid__item--logo">
            <img src="/static/img/branding/gladney-icon-white.svg">
        </div>
        <div class="highlight-grid__item highlight-grid__item--numbers">
            <h2 class="highlight-grid__title">In 2016</h2>
            <strong>268</strong>
            <p>children were placed with adoptive families through Gladney</p>

        </div>
        <div class="highlight-grid__item highlight-grid__item--vision">
            <h2 class="highlight-grid__title">Gladney Vision</h2>
            <p>For the sake of the children and those who love them, Gladney is dedicated to creating the finest adoption experience possible while forging new paths in serving the mission of adoption.</p>
        </div>

        <div class="highlight-grid__flowers highlight-grid__flowers--3"></div>
        <div class="highlight-grid__flowers highlight-grid__flowers--4"></div>
        <div class="highlight-grid__flowers highlight-grid__flowers--5"></div>
    </section>





    <section class="content-carousel js-content-carousel">
        <div class="content-carousel__item">
            <div class="story story--staff">
                    <div href="" class="story__image">
                        <img src="/static/img/temp/story-1.jpg" alt="">
                        <span>Amy Shore, <em>New Beginnings Caseworker</em></span>
                    </div>

                    <div class="story__content">
                        <header class="story__heading">
                            <h3>This is why</h3>
                            <h4> The Gladney staff explains why they do what they do every day.</h4>
                        </header>
                        <p>As an adoptive parent myself, I treat every birth parent as if she is my daughter's bio mom.  It is an honor and a privilege to walk by the side of a mom who puts the needs of her child before her own.  I am her advocate and cheerleader who shares the laughter and the tears. </p>
                    </div>
            </div>
        </div>

        <div class="content-carousel__item">
            <div class="story story--staff">
                    <div href="" class="story__image">
                        <img src="/static/img/temp/story-1.jpg" alt="">
                        <span>Amy Shore, <em>New Beginnings Caseworker</em></span>
                    </div>

                    <div class="story__content">
                        <header class="story__heading">
                            <h3>This is why</h3>
                            <h4> The Gladney staff explains why they do what they do every day.</h4>
                        </header>
                        <p>As an adoptive parent myself, I treat every birth parent as if she is my daughter's bio mom.  It is an honor and a privilege to walk by the side of a mom who puts the needs of her child before her own.  I am her advocate and cheerleader who shares the laughter and the tears. </p>
                    </div>
            </div>
        </div>
    </section>
</div>





<section class="cta-bucket cta-bucket--image" style="background-image: url('/static/img/temp/cta-bucket.jpg')">
    <div class="l-container">
        <a href="" class="button button--xl button--outline button--salmon">We want to hear from you</a>
    </div>
</section>
{% endblock %}