{% extends '_layouts/site' %}

{% block main %}
<div class="subnav">
    <div class="l-container">
        <strong class="subnav__label">Section</strong>
        <nav>
            <ul class="subnav__nav">
                <li><a href="">Item</a></li>
                <li><a class="is-active" href="">Item</a></li>
                <li><a href="">Item</a></li>
                <li><a href="">Item</a></li>
                <li><a href="">Item</a></li>
            </ul>
        </nav>
    </div>
</div>




<header class="banner banner--tall" style="background-image: url('/static/img/temp/banner-6.jpg')">
    <h1 class="banner__heading">Board Members</h1>
</header>




<div class="l-container">
    <div class="l-grid board-members">
        <section class="board-members__officers">
            <h2 class="board-members__title">2016 - 2017 Officers</h2>
            <ul>
                <li>Anne Kennedy, <em>Board Chair</em></li>
                <li>Janette Hunter, <em>Past Chair</em></li>
                <li>Kenneth Heitner, <em>Secretary</em></li>
                <li>Mark McLeland, <em>Treasurer</em></li>
                <li>Frank Garrott, <em>President</em></li>
            </ul>
        </section>

        <section class="board-members__members">
            <h2 class="board-members__title">2016 - 2017 Officers</h2>
            <ul>
                <li>Greg Castanias</li>
                <li>John Covington</li>
                <li>Christopher Dezzi</li>
                <li>Mary Beth Dudley</li>
                <li>Karen Griffin</li>
                <li>Sharon Haynes</li>
                <li>Carolyn Hood</li>
                <li>David Johnson</li>
                <li>Mary Sue McKenna</li>
                <li>Kathleen Marsal</li>
                <li>Roger Metz</li>
                <li>Tammy Miller</li>
            </ul>
            <ul>
                <li>Barbara Penshorn</li>
                <li>Stacy Reynolds</li>
                <li>Anne Reysa</li>
                <li>Marshall Rossi</li>
                <li>David Simpson</li>
                <li>Paige McCoy Smith</li>
                <li>Susan Stone</li>
                <li>James Unger</li>
                <li>Hiry West</li>
                <li>Laura Wheat</li>
                <li>Dede Williams</li>
            </ul>
        </section>
    </div>
</div>
{% endblock %}