{% extends '_layouts/site' %}

{% block main %}


<section class="hero" style="background-image: url('/static/img/hero/hero-1.jpg');">
    <div class="l-container">
        <div class="hero__top">
            <h1>
                <span>Learn more about</span>
                <a href="/i-want-to-adopt/domestic-infant-adoption">Domestic Infant adoption</a>
                <a href="/i-want-to-adopt/international-adoption">International adoption</a>
                <a href="/i-want-to-adopt/foster-adoption">Foster Adoption</a>
            </h1>
        </div>

        <div class="hero__bottom">
            <p><strong>Lorem ipsum dolor sit amet,</strong> consectetur adipiscing elit. Nullam non augue et nibh blandit volutpat in in mi. Nullam quis eros a risus gravida maximus vel ut enim. Aliquam in dignissim justo, idyr commodo ipsum.</p>
        </div>
    </div>
</section>





<section class="l-home-intro">
    <div class="l-container l-container--17">
        <div class="l-grid">
            <div class="left">
                <h1 class="line-title epsilon"><span>About Gladney</span></h1>
                <p class="lede u-col-green--l"> Gladney exists to give children loving, caring families here at home and around the world. That's the heart of our mission.</p>
                <p>Gladney wants you to know:  It takes a special kind of family to adopt a child. And this child is worth everything.</p>


                <section class="title-list">
                    <h3 class="title-list__title epsilon">Our Services</h3>

                    <ul class="title-list__list">
                        <li>Professional CEU Trainings</li>
                        <li>Post Adoption</li>
                        <li>Humanitarian Aid</li>
                        <li>Superkids</li>
                        <li>Voluntary Registry</li>
                        <li>Legislative & Advocacy Efforts</li>
                    </ul>

                    <a href="" class="title-list__link">More Services</a>
                </section>
            </div>


            <div class="right">
                <section class="photo-collage">
                    <div class="photo-collage__wrapper">
                        <h2 class="photo-collage__heading">Learn More About Our...</h2>

                        <ul class="photo-collage__list">
                            <li>
                                <a href="">
                                    <img src="/static/img/temp/photo-collage-1.jpg" alt="">
                                    <span>History of success</span>
                                </a>
                            </li>

                            <li>
                                <a href="">
                                    <img src="/static/img/temp/photo-collage-2.jpg" alt="">
                                    <span>Expert legal support</span>
                                </a>
                            </li>

                            <li>
                                <a href="">
                                    <img src="/static/img/temp/photo-collage-3.jpg" alt="">
                                    <span>Family support for life</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>





<section class="big-three">
    <a href=""><strong>Get<br> Involved</strong> <span>Learn More</span></a>
    <a href=""><strong>Show<br> Support</strong> <span>Learn More</span></a>
    <a href=""><strong>Be<br> Inspired</strong> <span>Learn More</span></a>
</section>





{# @todo: Functionality TBC. #}
<div class="video-tease u-push--bottom--4 ">
    <img class="video-tease__image" src="/static/img/temp/video-poster-1.jpg" alt="">
    <a href="http://www.youtube.com/watch?v=Zsqep7_9_mw" class="video-tease__icon js-video-modal-trigger">
        <span class="u-sr-only">Play video</span>
        <img src="/static/img/icons/play-button.svg" alt="Play">
    </a>
</div>




<section>
    <div class="l-container">
        <h2 class="line-title"><span>Our Regional Offices</span></h2>
        <ul class="address-list l-grid l-grid--3-col">
            <li>
                <h3 class="u-flush--bottom">Fort Worth Adoption Office</h3>
                <p class="u-text-s">6300 John Ryan Dr., Fort Worth, TX 76132<br><a href="tel:8179226000" class="plain-link">817-922-6000</a></p>
            </li>
            <li>
                <h3 class="u-flush--bottom">Fort Worth Adoption Office</h3>
                <p class="u-text-s">6300 John Ryan Dr., Fort Worth, TX 76132<br><a href="tel:8179226000" class="plain-link">817-922-6000</a></p>
            </li>
            <li>
                <h3 class="u-flush--bottom">Fort Worth Adoption Office</h3>
                <p class="u-text-s">6300 John Ryan Dr., Fort Worth, TX 76132<br><a href="tel:8179226000" class="plain-link">817-922-6000</a></p>
            </li>
            <li>
                <h3 class="u-flush--bottom">Fort Worth Adoption Office</h3>
                <p class="u-text-s">6300 John Ryan Dr., Fort Worth, TX 76132<br><a href="tel:8179226000" class="plain-link">817-922-6000</a></p>
            </li>
            <li>
                <h3 class="u-flush--bottom">Fort Worth Adoption Office</h3>
                <p class="u-text-s">6300 John Ryan Dr., Fort Worth, TX 76132<br><a href="tel:8179226000" class="plain-link">817-922-6000</a></p>
            </li>
            <li>
                <h3 class="u-flush--bottom">Fort Worth Adoption Office</h3>
                <p class="u-text-s">6300 John Ryan Dr., Fort Worth, TX 76132<br><a href="tel:8179226000" class="plain-link">817-922-6000</a></p>
            </li>
            <li>
                <h3 class="u-flush--bottom">Fort Worth Adoption Office</h3>
                <p class="u-text-s">6300 John Ryan Dr., Fort Worth, TX 76132<br><a href="tel:8179226000" class="plain-link">817-922-6000</a></p>
            </li>
            <li>
                <h3 class="u-flush--bottom">Fort Worth Adoption Office</h3>
                <p class="u-text-s">6300 John Ryan Dr., Fort Worth, TX 76132<br><a href="tel:8179226000" class="plain-link">817-922-6000</a></p>
            </li>
            <li>
                <h3 class="u-flush--bottom">Fort Worth Adoption Office</h3>
                <p class="u-text-s">6300 John Ryan Dr., Fort Worth, TX 76132<br><a href="tel:8179226000" class="plain-link">817-922-6000</a></p>
            </li>
        </ul>
    </div>
</section>





<section class="cta-bucket cta-bucket--with-text">
    <div class="l-container">
        <p>While Gladney has offices throughout the US, Domestic Orientation occurs at the Fort Worth Campus and is an invitation-only event. If you’d like more details on attending an Orientation, request a free Information Packet.</p>
        <a href="" class="button button--xl button--outline button--salmon">We want to hear from you</a>
    </div>
</section>

{% endblock %}