{% extends '_layouts/site' %}

{% block main %}
<div class="subnav">
    <div class="l-container">
        <strong class="subnav__label">Domestic Infant</strong>
        <nav>
            <ul class="subnav__nav">
                <li><a href="">Overview</a></li>
                <li><a href="">Exploring Adoption</a></li>
                <li><a href="">Success Stories</a></li>
                <li><a href="">Medically Fragile</a></li>
                <li><a class="is-active" href="">Independent</a></li>
            </ul>
        </nav>
    </div>
</div>




<section class="l-container">
    <div class="l-grid">
        <article class="image-article">
            <h1>I Am a Gladney Mom</h1>
            <img src="/static/img/temp/right-image-1.jpg" alt="" class="image-article__image">
            <p>With our first adoption, we went to orientation in July of 2006 and got all of the application process complete by that October. We honestly did not expect to hear anything for many months after that, because at the time, our caseworker was quoting an average of a 9 month wait. Well, we were thrilled to get a call the week after Thanksgiving and were officially matched a few weeks after. Our son was born on Jan 4, 2007. Pretty cool, right? We only waited 6 months from start to finish. Our son's birth mom was the only birth mom that we spoke to during that process. We had an instant connection with her and it was practically "story book".</p>
            <p>Our initial post-adoption plan was to remain "semi-open". We were comfortable sharing our first names and tthe state we lived in, but didn't think we would ever do more than send letters and photos. Well, surprise! :) As our relationship with our son's birth mother and her family has grown, we are completely open now! We visit with them in person on an annual basis and even invited to them to our house this past summer. It's wonderful for my husband and I to have such a strong connection with her and will be a gift to our son one day, as well. He just turned 4 and is starting to ask the questions about when he was born and we have been completely open with him about his story. Looking back, we are still surprised that we can be this way, but give all the credit to Gladney for preparing us for the "what if". Through continual support and education, the Gladney staff has educated us and continues to provide us the tools to make the right plan that fits for our family.</p>
            <p>With our second adoption, our wait was a little longer. Gladney advised us that the second adoption often takes a little longer, but that was ok with us. We were comfortable with the system and gave 100% of our trust to the agency. They quoted a 9-18 month wait time on average, so we applied as soon as they would allow us, which was when our son turned 9 months. We were prepared to wait. This time we got close twice, but things didn't work out for various reasons. The most important thing for me to share, is that even though our second time through was not as "story book" as I have described above, the good folks at Gladney were there for us again 100%. They provided us sound advice and supported us through decision making that we were a little unsure to do on our own. Our daughter was born in 2009-the very day we learned of her birth mom's situation. This time around the call we got was not, "We have a birth mom that would like to talk with you," but more like, "there was a baby born this morning and her birth mom has chosen you....can you be here tomorrow?". WOW! And so my husband and I got into the car and starting driving with only a baby seat and a diaper bag. We truly feel like she is our "stork baby". Because of our openness with our son's birth mom, we are pursuing the same type of relationship with our daughter's birth mom and her family.</p>
            <p>I love that each experience was different. I can look back on those years of waiting and know that God very much had his hand in the placing each our of children perfectly where they are meant to be.</p>
        </article>
    </div>

</section>








<section class="image-carousel js-image-carousel">
    {# @note: need iamges to crop to equal dimensions #}
    <img src="/static/img/temp/image-carousel-1.jpg" alt="">
    <img src="/static/img/temp/image-carousel-2.jpg" alt="">
    <img src="/static/img/temp/image-carousel-3.jpg" alt="">
</section>
{% endblock %}