{% extends '_layouts/site' %}

{% block main %}


<div class="subnav">
    <div class="l-container">
        <strong class="subnav__label">Domestic Infant</strong>
        <nav>
            <ul class="subnav__nav">
                <li><a href="">Overview</a></li>
                <li><a href="">Exploring Adoption</a></li>
                <li><a href="">Success Stories</a></li>
                <li><a href="">Medically Fragile</a></li>
                <li><a class="is-active" href="">Independent</a></li>
            </ul>
        </nav>
    </div>
</div>





<header class="banner banner--tall" style="background-image: url('/static/img/temp/banner-3.jpg')">
    <h1 class="banner__heading exploring-adoption"><span>Exploring</span> Adoption</h1>
</header>




<section class="l-container l-container--11 banner-overlap banner-overlap--big">
    <div class="l-container l-container--9">
        <header class="big-heading">
            <h1 class="big-heading__title">Adopting a Child Domestically</h1>
            <h2 class="big-heading__subtitle">Infant</h2>
        </header>


        <nav class="level-3-nav">
            <ul>
                <li><a href="">Adoption criteria</a></li>
                <li><a href="">The process</a></li>
                <li><a href="" class="is-active">Common questions</a></li>
                <li><a href="">Financial information</a></li>
                <li><a href="">Post-adoption services</a></li>
            </ul>
        </nav>


        <p class="lede">Every adoption is a lifelong journey. Family for Life is about ensuring that our families are cared for and supported through every step of that journey. Our comprehensive and professional services extend far beyond the post-adoption services required by law or offered by most other agencies. Most of these services are provided to our clients at no cost.</p>

        <p>STANDARD CONTENT HERE</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam quas iure veniam aliquid distinctio asperiores dolores corporis minus necessitatibus, laborum odio commodi animi consequatur minima accusantium vero, similique at obcaecati molestias doloribus laboriosam, eligendi neque amet. Eaque quae, quaerat enim perspiciatis. Placeat, quod vel necessitatibus fugit recusandae labore ullam similique quo explicabo nostrum incidunt, beatae ab error inventore sit aut eius? Explicabo, placeat voluptatum dolor et odio laboriosam quas cupiditate dicta praesentium ratione, animi! Omnis nesciunt odit doloremque, quam cupiditate ex veniam nulla voluptatem? Enim illo facilis nisi, dolore error in placeat, non accusantium sit veniam dolores, aliquam reprehenderit voluptatem.</p>

        <section class="i-am-gladney-small">
            <img class="i-am-gladney-small__graphic" src="/static/img/i-am-gladney.svg" alt="I Am Gladney">
            <p class="i-am-gladney-small__text">Gladney Family Associations across the country provide parent to parent support for all Gladney families.</p>
        </section>
    </div>
</section>








<section class="cta-bucket">
    <div class="l-container">
        <a href="" class="button button--xl button--outline button--salmon">Get Started</a>
    </div>
</section>





<section class="signposts signposts--two-up">
    <a href="">
        <img src="/static/img/temp/signpost-1.jpg" alt="">
        <h3 class="signposts__title">Medically Fragile</h3>
        <div class="signposts__overlay signposts__overlay--fragile">
            <p>Every year in the U.S., medically fragile infants are born every day. The Gladney Center for Adoption has a program for infants with non-correctable medical and/or congenital conditions.</p>
            <span>Learn more</span>
        </div>
    </a>

    <a href="">
        <img src="/static/img/temp/signpost-2.jpg" alt="">
        <h3 class="signposts__title">Independent</h3>
        <div class="signposts__overlay signposts__overlay--independent">
            <p>The Independent Adoption program allows adoptive parents who have already located their own birthmother to utilize the outstanding adoption services Gladney provides for both the birth mother and the adoptive parents.</p>
            <span>Learn more </span>
        </div>
    </a>
</section>

{% endblock %}