{% extends '_layouts/site' %}

{% block main %}
<div class="subnav">
    <div class="l-container">
        <strong class="subnav__label">Section</strong>
        <nav>
            <ul class="subnav__nav">
                <li><a href="">Item</a></li>
                <li><a class="is-active" href="">Item</a></li>
                <li><a href="">Item</a></li>
                <li><a href="">Item</a></li>
                <li><a href="">Item</a></li>
            </ul>
        </nav>
    </div>
</div>





<header class="banner banner--plain">
    <h1 class="banner__heading banner__heading--s"><em>The experience and solid leadership</em> of Gladney's executives, along with the talent and dedication of our employees, help to make Gladney Center for Adoption a success.</h1>
</header>


<section class="l-container l-container--11">
    <ul class="team-profiles">
        <li>
            <img class="team-profiles__photo" src="/static/img/temp/team-profile-1.jpg" alt="">
            <h2 class="team-profiles__header">
                <strong>Frank Garrott,</strong>
                <em>President &amp; Chief Executive Officer</em>
            </h2>
            <p>Frank Garrott joined the Gladney Center for Adoption as Chief Operating Officer in 2007. One year later he was appointed President and Chief Executive Officer, just the 9th person to lead Gladney throughout its illustrious 128 year history. Garrott had previously served nine years on Gladney's Board, but his affiliation with Gladney dates back much further – to 1987 when he and his wife adopted Phillip and four years later adopted their daughter, Hayden. They completed their family in 1993 with the arrival of their biological son, Sam.</p>
            <p>Garrott sits on the Board of Children's Home Society of America, an affiliation of agencies that share a common heritage.  He is a board member of Both Ends Burning, an organization committed to the mission that "every child deserves a family."  Garrott was a founding board member of BraveLove, an organization focused on conveying the positive message of adoption to the public. He continues to serve on their Advisory Board. Previously, Garrott served on the Boards of Joint Council on International Children's Services and Christian Mission to the United Nations Community.</p>
            <p>Garrott enjoyed a long career in business consulting and banking with Price Waterhouse, Citibank and Bank One in New York and Texas.  Garrott received his B.A. from Duke University and an MBA from the University of Texas at Austin.</p>
        </li>

        <li>
            <img class="team-profiles__photo" src="/static/img/temp/team-profile-1.jpg" alt="">
            <h2 class="team-profiles__header">
                <strong>Mark Melson,</strong>
                <em>Chief Operating Officer &amp; Executive Vice President</em>
            </h2>
            <p>I earned both my BBA and MBA from the University of North Texas and then worked as a financial consultant and in various fundraising capacities with North Texas not-for-profit organizations. Just before joining Gladney in 2008, I served for seven years as Director of Finance and Gift Planning for Harris Methodist Health Foundation and then as Chief Development Officer for Big Brothers Big Sister of North Texas.</p>
        </li>
    </ul>
</section>
{% endblock %}