{% extends '_layouts/style-guide' %}

{% block main %}

<ul class="bullet-list">
    <li><a href="/style-guide/grid">Grid</a></li>
    <li><a href="/style-guide/modules">Modules</a></li>
    <li><a href="/style-guide/templates/home">N Homepage</a></li>
    <li><a href="/style-guide/templates/standard">C Standard</a></li>
    <li><a href="/style-guide/templates/standard-wide">C.2 Standard Wide</a></li>
    <li><a href="/style-guide/templates/sidebar-nav">D Sidebar Nav</a></li>
    <li><a href="/style-guide/templates/image-article">E Image Article</a></li>
    <li><a href="/style-guide/templates/left-sidebar">F Left Sidebar</a></li>
    <li><a href="/style-guide/templates/about-landing">G About Landing</a></li>
    <li><a href="/style-guide/templates/timeline">H Timeline</a></li>
    <li><a href="/style-guide/templates/team-profiles">I Team Profiles</a></li>
    <li><a href="/style-guide/templates/board-members">J Board Members</a></li>
    <li><a href="/style-guide/templates/contact">M Contact Form</a></li>
    <li><a href="/style-guide/templates/waiting-children">O Waiting Children</a></li>
</ul>
{% endblock %}